
<app-viewers-card [usuarios]="usuarios"> </app-viewers-card>

<!--
<div *ngFor="let usuario of usuarios" class="viewer-list-item" (mouseover)="showViewerCard(usuario)" (mouseleave)="hideViewerCard()">
  <img [src]="usuario.imagenUsuario" alt="{{ usuario.nombreUsuario }}" class="viewer-thumbnail">
  <app-viewers-card *ngIf="hoveredViewer == usuario"
    [nombreUsuario]="usuario.nombreUsuario"
    [idUsuario]="usuario.idUsuario"
    [email]="usuario.email"
    [cargo]="usuario.cargo"
    [imagenUsuario]="usuario.imagenUsuario"
    [usuarios]="usuarios"
    >
  </app-viewers-card>
</div> -->
