/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');

/*=============== VARIABLES SCSS ===============*/
$first-color: hsl(230, 100%, 50%);
$second-color: hsl(150, 100%, 38%);
$title-color: hsl(230, 24%, 12%);
$text-color: hsl(230, 4%, 60%);
$gray-color: hsl(230, 24%, 88%);
$border-color: hsl(230, 4%, 92%);
$body-color: hsl(230, 100%, 98%);
$container-color: hsl(0, 0%, 100%);
$thumbnail-image-border-color: hsl(120, 66%, 30%);
$thumbnail-image-border-color-shadow: hsla(145, 96%, 18%, 0.274);
$change: 15%;

$body-font: 'Syne', sans-serif;
$h2-font-size: 1.25rem;
$h3-font-size: 1rem;
$normal-font-size: 1rem;

/*=============== VARIABLES CSS ===============*/
:root {
  --first-color: #{$first-color};
  --first-color-dark: #{darken($first-color, $change)};
  --second-color: #{$second-color};
  --title-color: #{$title-color};
  --text-color: #{$text-color};
  --gray-color: #{$gray-color};
  --border-color: #{$border-color};
  --body-color: #{$body-color};
  --container-color: #{$container-color};
  --thumbnail-image-border-color: #{$thumbnail-image-border-color};
  --thumbnail-image-border-color-shadow: #{$thumbnail-image-border-color-shadow};

  --body-font: '#{$body-font}';
  --h2-font-size: #{$h2-font-size};
  --h3-font-size: #{$h3-font-size};
  --normal-font-size: #{$normal-font-size};
}
