.viewers-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  background-color: #2626e0;
}

.viewers-thumbnail-container{
  display: flex;
  flex-wrap: wrap;
}

.viewer-thumbnail-wrapper {
  position: relative;
  margin: 10px;
  // display: inline-block;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
  // align-items: last baseline;
}

.viewer-thumbnail-wrapper:hover {
  transform: scale(1.1);
}

//TODO: DARLE ESTILO A CIRCULITOS DE VIEWERS
.viewer-thumbnail {
  // margin: 7px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  border: 4px solid rgb(26, 128, 26);
  box-shadow: 0 0 0 1px white;
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 0 4px 4px rgba(82, 81, 81, 0.3);
  }
}

.viewer-card-tooltip-container {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 1;
  bottom: 130%;
  left: 50%;
  transform: translateX(-7%) translateY(160%);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease, pointer-events 0.3s ease;
}

.viewer-thumbnail-wrapper:hover .viewer-card-tooltip-container,
.viewer-card-tooltip-container:hover {
  opacity: 1;
  pointer-events: auto;
}

.viewer-card-tooltip {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: last baseline;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(82, 81, 81, 0.3);
  border-radius: 8px;
  width: 250px;
  transition: box-shadow 0.3s ease;
  // margin-top: 10px;

  &:hover {
    box-shadow: 0 0 4px 4px rgba(82, 81, 81, 0.3);
  }

  .viewer-card-content {
    display: flex;
    align-items: center;
  }

  .viewer-card-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  .viewer-card-body {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    text-align: left;
    flex-grow: 1;

    .viewer-card-title {
      margin: 0;
      font-size: 25px;
      font-weight: bold;
    }

    .viewer-card-text {
      margin: 2px 0;
      font-size: 14px;
      color: #666;
    }
  }

  .viewer-card-divider {
    width: 100%;
    border: 0;
    height: 1px;
    background: #e0e0e0;
    margin: 5px 0;
  }

  .viewer-card-footer{
    display: flex;
    justify-content: flex-start;
    margin-top: auto;
  }

  .detail-viewer-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 7px;

    &:hover {
      background-color: #0056b3;
    }
  }
}




